<!DOCTYPE html>
<html dir="ltr" lang="en-us">
  <head>
    <title>Password Reset</title>
    <style>
      .button:hover {
          font-family: Verdana;
          font-size: 20px;
          white-space: nowrap;
          background-color: #E07E26;
          color: #006DFA;
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 40px;
          padding-right: 40px;
          border: none;
          border-radius: 40px;
          text-decoration: none;
      }
    </style>
  </head>
  <body style="background-color: #006DFA;">
    <table style="border-width: 0px #006DFA; margin-left: auto; margin-right: auto; margin-top: 72pt; margin-bottom: 72pt;">
      <tbody>
        <tr>
          <td>
            <div style="color: white; text-align: center; font-family: Arial; font-size: 48pt; font-weight: bold;letter-spacing: 0.05em; white-space: nowrap;">
              Password Reset
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="font-family: Arial; font-size: 48pt;">
              &nbsp;
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="color: #FFFFFF; text-align: center; font-family: Verdana; font-size: 20pt; font-weight: 50; letter-spacing: 0.125em; white-space: nowrap;">
              Please click on the link below
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="color: #FFFFFF; text-align: center; font-family: Verdana; font-size: 20pt; font-weight: 50; letter-spacing: 0.125em; white-space: nowrap;">
              to reset your password.
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="text-align: center; margin-top: 48px; margin-bottom: 48px;">
              <a href="{{ reset_url }}" style="font-family: Verdana; font-size: 20px; white-space: nowrap; background-color: #E07E26; color: black; margin-top: 20px; padding-top: 15px; padding-bottom: 15px; padding-left: 40px; padding-right: 40px; border: none; border-radius: 40px; text-decoration: none; transition: 0.4s;" class="button">
                Reset Password
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="color: #FFFFFF; text-align: center; font-family: Verdana; font-size: 20pt; font-weight: 50; letter-spacing: 0.125em; white-space: nowrap;">
              You can safely ignore this
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="color: #FFFFFF; text-align: center; font-family: Verdana; font-size: 20pt; font-weight: 50; letter-spacing: 0.125em; white-space: nowrap;">
              email if you did not request
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div style="color: #FFFFFF; text-align: center; font-family: Verdana; font-size: 20pt; font-weight: 50; letter-spacing: 0.125em; white-space: nowrap;">
              a password reset.
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <p align="center">
      <img style="font-family: Verdana; font-size: 20pt; width: 10em; height: auto; display: block; margin-left: auto; margin-right: auto; color: #FFFFFF" alt="Inesonic" src="{{ site_url }}/inesonic_logo_white.svg"/>
    </p>
  </body>
</html>
